<h1>Admin Page</h1>

<h2>Create a new user</h2>


<form action="/admin/create/user" method="POST">
  <input type="text" name="username" placeholder="username"></input>
  <br><br>
  <input type="email" name="email" placeholder="email"></input>
  <br><br>s
  <input type="password" name="password_hash" placeholder="password"></input>
  <br><br>
  <input type="checkbox" name="isAdmin" value="true" placeholder="admin"></input>
  <br><br>
  <input type="url" name="img_url" placeholder="img url"></input>
  <br><br>
  <input type="date" name="dob" placeholder="date of birth"></input>
  <br><br>
  <input type="submit"></input>
</form>

<br><br>
<a class="btn btn-default" href="/admin/users">View Users</a>

<form>
  <input type= "text" name ="username" placeholder = "username" id = "user-to-be-searched"></input>
  <input type ="submit" id="search-user"></input>
</form>
  <script type="text/javascript">
    $("#search-user").on("click", function() {
      var searchedUser = $("#user-to-be-searched").val().trim();

      $.get("/user/search" + searchedUser);
    });
  </script>