<h1>Admin Page</h1>

<h2>Create a new user</h2>


<form id="userForm" action="/admin/create/user" method="POST">
  <input type="text" name="username" placeholder="username"></input>
 <br><br>
  <input type="email" name="email" placeholder="email"></input>
  <br><br>
  <input type="password" name="password_hash" placeholder="password"></input>
  <br><br>
  <input type="checkbox" name="isAdmin" value="true" placeholder="admin"></input>
  <br><br>
  <input type="url" name="img_url" placeholder="img url"></input>
  <br><br>
 <input type="date" name="dob" placeholder="date of birth"></input>
  <br><br>
  <input type="submit"></input>
</form>
<br><br>
<a class="btn btn-default" href="/admin/users">View Users</a>
<br><br>
<div class="container">
  <div class="row">
  <form id="user-search">
    <input id="userToSearch" placeholder="Which User?" type="text" />
    <button type="submit" class="btn btn-default" id="user-search-button">Search a User</button>
  </form>
  <br><br>
  <span id="user-search-result"></span>
  <br><br>
  <div id = "modify-user-area"></div>
  </div>
</div>
<div class = "container">
  <div class = "row">
  <h2>Create a new category</h2>

  <form id ="categoryForm" action="/admin/create/category" method="POST">
    <input type="text" name="categoryname" placeholder="category"></input>
  <br><br>
    <textarea name="description" placeholder="description"></textarea>
  <br><br>
    <input type="url" name="img_url" placeholder="img url"></input>
  <br><br>
    <input type="submit"></input>
  </form>
  <br><br>
  <a class="btn btn-default" href="/admin/categories">View Categories</a>
  <br><br>
  <form id="category-search">
    <input id="categoryToSearch" placeholder="Which Category?" type="text" />
    <button type="submit" class="btn btn-default" id="category-serach-button">Search a Category</button>
  </form>
  <br><br>
  <span id="category-search-result"></span>
  </div>
</div>
    